h1, h4{
  font-family: "Sour Gummy", sans-serif;
}

h1 {
  font-weight: 900;
  color: rgb(255, 0, 64);  
}

#team-members{
  color: white;
}

#team-members img{
  width: calc(100% / 3);
  aspect-ratio: 1/1;
}

#card-text{
  width: calc(100% / 3 * 2);
  background-color: black;
  padding: 0 20px;
}

#team-members h4,
#team-members p,
#team-members a{
  margin: 0;
}

#team-members p{
  font-weight: 200;
}

#team-members a{
  text-decoration: none;
}
